* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  background-image: url("../images/Splatter.png");
  background-position: fixed;
  background-size: 100;
}

header {
  height: 75px;
  background-color: #16c6ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.nav {
  color: white;
  background-color: #16c6ff;
  border-radius: 1rem;
  font-size: 25px;
  padding: 5px 10px;
  margin-bottom: 15px;
}

label {
  font-size: 30px;
}

input {
  background-color: white;
  color: black;
  padding: 15px 40px;
  font-size: 20px;
  text-align: center;
}

ul {
  padding: 0;
  width: 100%;
}

li {
  background-color: white;
  padding: 0;
  border-bottom: black solid 2px;
  align-items: center;
  width: 100%;
}

form {
  position: relative;
}

button:hover {
  cursor: pointer;
}

button.see-tix {
  border: #12a8da 5px solid;
  background-color: #16c6ff;
  padding: 5px 20px;
  height: 50%;
  text-align: center;
  margin-right: 10px;
}

button.save {
  border: #16ae46 5px solid;
  background-color: #1dd256;
  padding: 5px 20px;
  height: 50%;
  text-align: center;
  margin-right: 10px;
}

button.delete {
  border: #e21818 5px solid;
  background-color: #d04a4a;
  padding: 5px 10px;
  height: 50%;
  text-align: center;
  margin-right: 10px;
}

h2.text-title {
  font-size: 25px;
  margin: 10 0 0;
}

h1.header-text {
  font-size: 50px;
  color: #4f6bff;
  text-shadow: 1px 1px 3px black;
  font-family: Anton, sans-serif;
  font-style: italic;
  letter-spacing: 3px;
}

h1.vamos-title {
  font-size: 100px;
  color: #4f6bff;
  font-family: Anton, sans-serif;
  font-style: italic;
  letter-spacing: 3px;
  margin: 0 0 0 10px;
}

img.pic-title {
  position: absolute;
  width: 100%;
  margin-left: 0;
  left: 0;
}

#saved-list {
  margin: 0;
  padding: 0;
}

.empty-message {
  text-align: center;
  margin: 0;
}

.list-img {
  height: 50px;
  margin: 10px 25px;
  object-fit: cover;
  background-color: white;
  color: black;
  width: 100px;
}

.list-text.date {
  margin-left: 25px;
  background-color: white;
  color: black;
  width: 100px;
}

.name {
  width: 200px;
  background-color: white;
  color: black;
}

.pic-title {
  bottom: 0;
  min-height: 400px;
  max-height: 600px;
}

.venue-and-date {
  justify-content: space-between;
  width: 450px;
  align-items: center;
}

p.location {
  background-color: white;
  color: black;
}

.date {
  margin-left: 25px;
  background-color: white;
  color: black;
  width: 100px;
}

.browse-btn,
.my-events-btn,
.browse-btn-home,
.my-events-btn-home {
  margin-left: 25px;
  margin-top: 25px;
}

.header-text {
  background-color: #16c6ff;
}

.submit-search {
  color: white;
  background-color: #4f6bff;
  border-radius: 1rem;
  font-size: 25px;
  padding: 5px 10px;
  margin-bottom: 15px;
}

.submit-search:hover {
  cursor: pointer;
}

.search-input {
  margin: 10px;
}

@media screen and (max-width: 600px) {
  .list-text.date {
    margin: 10px auto;
    display: block;
    text-align: center;
  }

  .location {
    margin: 5px auto;
    display: block;
    text-align: center;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
  }

  .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .list-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  .name {
    flex-grow: 1;
    margin-right: 10px;
  }

  .save,
  .see-tix {
    padding: 8px 15px;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .save-see-div {
    margin-top: 10px;
  }
}
